/*body {*/
    /*background-color: #fff;*/
    /*color: #2e3440;*/
    /*font-size: 14pt;*/
    /*font-family: "Nunito", sans-serif;*/
    /*overflow-x:hidden*/
/*}*/

footer {
    padding-top: 2rem;
    color:#4c566a
}

footer hr {
    color:#fff
}

footer .container {
    max-width: 780px;
    margin: auto;
    display: flex;
    justify-content:space-between
}

footer .container .left {
    text-align:left
}

footer .container .center img {
    margin:auto
}

footer .container .right {
    text-align:right
}

footer .container aside {
    width:30%
}

footer .container aside.left {
    padding:.5rem
}

footer .container aside.right {
    padding:.5rem
}

/*h1, h2, h3, h4, h5, h6 {*/
    /*padding-top: 2rem;*/
    /*font-family: "Lora", serif;*/
    /*line-height:1*/
/*}*/

article {
    /*max-width: 780px;*/
    /*margin: auto;*/
    padding:1rem
}

article h1 {
    font-size:3rem
}

article h2 {
    font-size:2rem
}

article h3 {
    font-size:1.5rem
}

article p {
    padding-top: .8rem;
    padding-bottom:.8rem
}

article table {
    width: 100%;
    border: 1px dotted #4c566a;
    padding:.5rem
}

article td {
    text-align: center;
    vertical-align:middle
}

article img {
    max-width: 95%;
    margin:auto
}

article h1:first-child {
    text-align:center
}

article pre {
    border-radius: 1rem;
    padding: 1rem;
    word-wrap: break-word;
    white-space: pre-wrap;
    box-shadow:0px 0px 5px 1px rgba(46, 52, 64, .5)
}

article.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-right:1rem
}

article.homepage .container section {
    padding-left:2rem
}

article.homepage .container section p {
    padding-bottom:.8rem
}

article.homepage .container section ul {
    margin: 0;
    padding-bottom:1rem
}

article.homepage .container .hero {
    width: 380px;
    margin: auto;
    margin-top:-40px
}

article.post .hero {
    width: 170px;
    margin: auto;
    margin-top:-40px
}

article.post header {
    margin-top:0
}

.embeddable-buttondown-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #eceff4;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right:.5rem
}

.embeddable-buttondown-form a {
    color: #888;
    font-variant: small-caps;
    text-decoration:none
}

.embeddable-buttondown-form input[type=email] {
    max-width: 100%;
    width: 720px;
    border: 1px solid #d8dee9;
    border-radius: 1.5rem;
    padding: .25rem;
    text-align:center
}

.embeddable-buttondown-form input[type=submit] {
    max-width: 100%;
    width: 720px;
    border: 0;
    border-radius: 1.5rem;
    padding: .25rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    background: #e69f00;
    color: #fff;
    font-weight: bold;
    cursor:pointer
}

.black {
    color:#000
}

.grey {
    color:#2e3440
}

.orange {
    color:#e69f00
}

.lightBlue {
    color:#56b4e9
}

.green {
    color:#009e73
}

.yellow {
    color:#f0e442
}

.blue {
    color:#0072b2
}

.red {
    color:#d55e00
}

.purple {
    color:#cc79a7
}

.bold {
    font-weight:bold
}

.italic {
    font-style:italic
}

.subheading {
    margin: 0;
    padding: 0;
    margin-top: -1rem;
    margin-bottom: 2rem;
    font-family: "Lora", serif;
    color: #4c566a;
    font-size: 1rem;
    text-align: center;
    font-style: italic
}


/*# Mine */
.simulation {
  width: 100%;
  height: 600px;
}
